
.container {
  padding: 10px;
  &__picker {
    padding: 10px;
    padding-top: 20px;
  }
  &__chart {
    padding-bottom: 50px;
  }
  &__table {
    padding: 10px;
    width: 100%;
  }

  .mat-mdc-cell{
    border-bottom: 1px solid white;
  }

  .card{
    display: flex;
    width: 100px;
  }

  .bold {
    font-weight: bold;
  }
  
  .color-1 {
    background-color: #00FF0695;  
  }
  
  .color-2 {
    background-color: #30EB0095;
  }
  
  .color-3 {
    background-color: #6EFF0195;
  }
  
  .color-4 {
    background-color: #9CEB0095;
  }
  
  .color-5 {
    background-color: #E4FF0095;
  }
  
  .color-6 {
    background-color: #EBE20095;
  }
  
  .color-7 {
    background-color: #FFE50095;
  }
  
  .color-8 {
    background-color: #EBC40095;
  }
  
  .color-9 {
    background-color: #FFC50095;
  }
  
  .color-10 {
    background-color: #EBAA0095;
  }
  
  .color-11 {
    background-color: #FFAE0095;
  }
  
  .color-12 {
    background-color: #EB970095;
  }
  
  .color-13 {
    background-color: #FF990095;
  }
  
  .color-14 {
    background-color: #EB820095;
  }
  
  .color-15 {
    background-color: #FF800095;
  }
  
  .color-16 {
    background-color: #EB690095;
  }
  
  .color-17 {
    background-color: #FF640095;
  }
  
  .color-18 {
    background-color: #EB4F0095;
  }
  
  .color-19 {
    background-color: #FF470195;
  }
  
  .color-20 {
    background-color: #EB360095;
  }
  
  .color-21 {
    background-color: #FF2D0095;
  }
  
  .color-22 {
    background-color: #EB1D0095;
  }
  
  .color-23 {
    background-color: #FF110095;
  }
  
  .color-24 {
    background-color: #EB020095;
  }
  

}



